# Build directories
build/
build*/
builds/
*/CMakeFiles/
*/CMakeScripts/
CMakeCache.txt
cmake_install.cmake
# Generated ninja and makefiles
build.ninja
# Doxygen output
docs/doxygen/
# Sphinx HTML build
docs/sphinx/_build/
